<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:
      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      </div>
      <h2></h2>
    </div>
  <% end %>
  <div style="max-width:400px;padding:20px;border:solid black">

    <%= form.text_field :book_name, required: true,class:"form-control",placeholder: :book_name %>
    <br/>
    <%= form.text_field :author, required: true,class:"form-control",placeholder: :author  %>
    <br/>

    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
