<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div style="max-width:250px">
<br/>
    <%= f.email_field :email,placeholder: :email,class:"form-control", autofocus: true, autocomplete: "email" %>
<br/>
    <%= f.password_field :password,placeholder: :password,class:"form-control", autocomplete: "current-password" %>
<br/>
  <% if devise_mapping.rememberable? %>
    <div class="field form-check">
      <%= f.check_box :remember_me,class: "form-check-input" %>
      <%= f.label :remember_me,class: "form-check-label" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in",class:"btn btn-primary" %>
  </div>
</div>
<br/>

<% end %>

<%= render "devise/shared/links" %>
